/* css cho header formdangnhap dangky  */
.modal-header {
    padding-bottom: 0;
}

ul.tabs li.tab a {
    font-size: 18px;
    color: #646464;
    transition: 0.2s;
}

ul.tabs li:hover a {
    color: #F5A623;
}

ul.tabs li:hover{
    cursor: pointer;
}

ul.tabs li hr {position: relative;width: 50%;top: 0px;left: 25%;visibility: hidden;border-top: 2px solid #F5A623;transition: 0.2s;}

ul.tabs li:hover hr {
    visibility: visible;
    border-top: 2px solid #F5A623;
    width: 100%;
    left: 0;
}

ul.tabs {
    width: 100%;
    height: 100%;
}

ul.tabs li {
    width: 40%;
    height: 100%;
}

ul.tabs li.active a{
    color: #F5A623;
}
ul.tabs li.active hr {
    visibility: visible;
    border-top: 2px solid #F5A623;
    width: 100%;
    left: 0;
}
/* het css cho header form dangnhap dangky  */

/* css cho formdangnhap dangky*/
.form-signin {
    width: 100%;
  }
  
.form-signin .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}
  
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}
  
.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.modal-body hr {
    position: relative;
    top: 1px;
}

.btn-signin:hover {
    color: black!important;
}


#formdangky .form-signin p {
    margin-bottom: 3px;
    font-size: 13px;
}

#formdangky .form-signin a {
    display: block;
    font-size: 13px;
}

label.error {
    display: inline-block;
    color:red;
    width: 300px;
    
    margin-top:5px;
    margin-bottom: 0;
    font-size: 13px;
}

/* het css cho form dang nhap dangky */
