@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
@import 'normalize.css';
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* css cho khoi sach nen doc  */
.sachnendoc .card-body.noidungsp.mt-3 {
    padding: 10px 0 10px 0;
}

.sachnendoc a.detail {
    font-size: 13px;
    text-decoration: none;
    color: #F5A623;
}

.sachnendoc .thoigian {display: inline-block;padding-top: 7px;}

.sachnendoc h3.card-title.ten {
    margin-top: -12px;
}

.sachnendoc img.card-img-top.anh {
    position: static;
    border-radius: 0;
}

.sachnendoc .card {
    margin: 0;
    border: none;
}

hr {margin-bottom: 0;position: relative;top: -31px;}

.sachnendoc .col-lg {
    padding-bottom: 30px;
}
/* het css cho khoi sach nen doc  */

@media (max-width:767px){
    .navbar form .input-group{
        width: 100%!important;

    }

    .navbar ul li a.nav-link{
        margin-left:0.25rem!important;
    }

    .navbar ul li.account{
        border-top: 1px dashed #CF111A;
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .navbar ul li.giohang{
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-right:8px;
    }
    .categorycontent{
        display: none;
    }
}


