/* css cho _1khoi */

._1khoi h1.header {
    font-size: 20px;
}

._1khoi h2.header {
    font-size: 20px;
}

/* het css cho _1khoi */

/* css cho nut xem tat ca  */
a.btn.btn-warning.btn-sm.text-white {
    height: 25px;
    width: 77px;
    background: #F5A623;
    font-size: 11px;
} 
/* het css cho nut xem tat ca  */

/* css rieng cho phan combo phat hanh - card-border*/
.combohot .card{
    border: none;
}

.sapphathanh .card{
    border: none;
}
/* het css cho phan combo  */