.account-page-tab-content .nav-tabs .nav-link {
    border-radius: 0;
}

.account-page-tab-content a.nav-link {
    margin-left: 0;
}

.account-page-tab-content .nav-tabs .nav-item.active {
    color: black;
    border-top: 4px solid #f5a623;
}

.account-page-tab-content .nav-tabs a {
    color: gray;
}

.deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
}

.button-capnhat {
    background: linear-gradient(#f8c168, #ffa142);
    color: white;
    font-weight: 500;
    padding: 7px 15px 7px 15px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.donhang-table table th {
    font-weight: 500;
    background: #cecece;
}

h3.account-header {
    color: #9d9d9d;
    font-size: 18px;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
}
