/* css cho dichvu  */
.dichvu p.detail {
    font-size: 12px;
    margin-bottom: 1px;
    width: 198px;
}

.dichvu {
    padding: 24px 0px 24px;
}

.dichvu h3.tieude {
    font-size: 14px;
    margin-bottom: 3px;
}

.dichvu .noidung {
    width: 180px;
}

.dichvu img {
    width: 57px;
    height: 57px;
    margin-right: 10px;
}
/* het css cho dichvu  */